# Express Backend & MongoDB Atlas Connection
PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/crackvault?retryWrites=true&w=majority
VITE_API_URL=http://localhost:5000/api
